

div.title-row.row {
    margin: auto;
    padding: 0;
    text-align: center;
}


div.title {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, .1);
    text-align: center;

}







div.inventory-container.row {


    height: auto;
    width: 1000px;
    border-radius: 25px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px 6px rgba(0, 0, 0, .1);
    transition: all .2s ease;


}



div.left-inv.col {

    height: 600px;
    width: 250px;
    border-radius: 5px;
    border-right-style: dotted;
    border-color: rgba(0, 0, 0, .1);

}

table {
    border-style: solid;
    border-color: transparent;
    transition: all .2s ease;
    border-radius: 10px;
    display: block;
    max-height: 500px;
    overflow-y: scroll;
    cursor:pointer
}




div.right-inv.col {
    border-radius: 5px;
    background-color: rgb(201, 205, 206, .4);
    justify-content: center;
    align-items: center;
    height: 600px;
    width: auto;

}

div.item-stats.row {
    height: 250px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #0097a7ff;
    transition: all .2s ease;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, .1);
    border-radius: 10px;

}

div.itemSpecs.col {

    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(0, 0, 0);



}


.item-title-specs {
    margin-top: 10px;
}

div.itemPic.col {
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    color: #0097a7ff;
    transition: all .2s ease;
    border-left-style: solid;
    border-color: rgba(0, 0, 0, .1);
    align-items: center;
    justify-content: center;

}

div.description-row.row {

    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(0, 0, 0);
    transition: all .2s ease;


}

div.description.col {
    height: auto;
    min-height: 150px;
    max-height: 150px;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(0, 0, 0);
    transition: all .2s ease;
    margin-top: 50px;
    border-bottom-style: double;
    border-color: rgba(0, 0, 0, .1);


}

.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root:hover {

    background-color: #eef0f2;
    color: #a75600;
    transition: all .2s ease;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, .1);
    border-radius: 100px;

}

button.editBtn.btn.btn-primary {
    margin-left: 50px;
    margin-top: 30px;
    background-color: #a75600;
    border-color: #a75600;
    ;


}

button.deleteBtn.btn.btn-primary {
    margin-left: 50px;
    margin-top: 30px;
    background-color: #a70300;
    border-color: #a70300;


}


button.submitBtn.btn.btn-primary {
    margin-left: 50px;
    margin-top: 30px;
    background-color: #0097a7ff;
    border-color: #0097a7ff;
    ;


}



button.returnBtn.btn.btn-primary {
    margin-left: 50px;
    margin-top: 30px;
    background-color: #0097a7ff;
    border-color: #0097a7ff;
    ;


}

h4.editTitle {
    transition: all .4s ease;
    margin-bottom: 20px;
}


input.descriptionForm.form-control {
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, .1);
    border-radius: 4px;
    height: 75px;

}

input:hover {
   
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff,
        0 0 100px 1px #666463;
   

}